<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page complète</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>je suis une page complète avec Bootstrap</h1>
        <!-- http://localhost:8000/page-complete -->
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat minima quibusdam optio quo fuga consequatur reiciendis! Consectetur provident quidem repellat expedita rerum, repellendus nesciunt soluta illo quod ducimus, cumque a.</p>
    </div>
</body>
</html>